<div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" href="/">Portfolio</a>
            <!-- <a class="mdl-navigation__link" href="blog.html">Blog</a> -->
            <a class="mdl-navigation__link is-active" href="/about">About</a>
            <!-- <a class="mdl-navigation__link" href="contact.html">Contact</a> -->
        </nav>
    </div>
</header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" href="/">Portfolio</a>
            <!-- <a class="mdl-navigation__link" href="blog.html">Blog</a> -->
            <a class="mdl-navigation__link is-active" href="/about">About</a>
            <!-- <a class="mdl-navigation__link" href="contact.html">Contact</a> -->
        </nav>
    </div>

<main class="mdl-layout__content">

<div class="mdl-grid portfolio-max-width">
              
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">About</h2>
        </div>
        <div class="mdl-card__media">
            <img class="article-image" src=" images/mahr-about-header.jpg" border="0" alt="">
        </div>
        
        <div class="mdl-grid portfolio-copy">
            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Who Am I?</h3>
            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                <p>I graduated from General Assembly’s Web Development Immersive program in New York in March 2016, learning over a dozen programming languages and/or frameworks and accumulating 1,000+ hours of programming experience. Prior to GA, I spent eight years in media as an editor, writer, reporter and publicist, creating and disseminating high-quality content.</p>
                <p>Why the career shift? Because I love identifying problems that need to be solved and writing clean, efficient code that solves those problems. Because I love great storytelling. And because the biggest growth opportunities for helping brands/companies tell their stories are being tasked to those who know how the web works and have the talent and desire to make it better.</p>
            </div>
       
           


            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">When I’m Not Coding or Storytelling...</h3>
    
            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                <p>
                    Originally from Boston, I’ve called Brooklyn home for the past six years. I make a mean jambalaya and am also constantly hunting for hole-in-the-wall gems that make great food. I’m a big fan of beer and board games (especially when combined), playing pickup ultimate frisbee in Prospect Park, binge-watching (and playing along with) episodes of “Jeopardy!”, and fantasy football.
                </p>
            </div>
        </div>
    </div>


</div>