<!-- <main class="mdl-layout__content"> -->
    <div class="mdl-grid portfolio-max-width">
        
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__media">
                <img class="article-image" src=" images/dinner-and-movie.png" border="0" alt="">
            </div>
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Dinner And A Movie</h2>
            </div>
            <div class="mdl-card__supporting-text">
                A single-page application designed to streamline the process of users selecting nearby movie theaters/showtimes and making adjacent meal plans.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://dinner-and-movie.herokuapp.com">Explore The App</a>
            </div>
        </div>
        
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__media">
                <img class="article-image" src=" images/admissions-portal.png" border="0" alt="">
            </div>
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Admissions Portal</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Application page for aspiring General Assembly students, complete with separate portals for admissions officers and instructors to track students through the interview process.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://admissions-portal.herokuapp.com">Explore The App</a>
            </div>
        </div>
        
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__media">
                <img class="article-image" src=" images/pats-chat.png" border="0" alt="">
            </div>
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Pats Chat</h2>
            </div>
            <div class="mdl-card__supporting-text">
                User-friendly, interactive chat room modeled after New England Patriots subreddit.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://forum-patschat.herokuapp.com">Explore The App</a>
            </div>
        </div>
        
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__media">
                <img class="article-image" src=" images/tic-tac-toe.png" border="0" alt="">
            </div>
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Star Wars Tic-Tac-Toe</h2>
            </div>
            <div class="mdl-card__supporting-text">
                2-player web version of tic-tac-toe with "Star Wars: The Force Awakens" theme.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://rawgit.com/cmahrtian/star-wars-tic-tac-toe/master/project1/index.html">Explore The App</a>
            </div>
        </div>
        
    </div>
    <!-- <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">&copy; 2016 Chris Mahr</div>
        </div>
        <div class="mdl-mini-footer__right-section">
            <ul class="mdl-mini-footer__link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy & Terms</a></li>
            </ul>
        </div>
    </footer>
</main> -->